/* google font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat",
        sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
    padding-left: 10em;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1.5em 1.3em;
    width: 85px;
    background-color: hwb(230 9% 82%);
    overflow: hidden;
    transition: width 300ms cubic-bezier(0, -0.11, .01, .98);
    display: flex;
    flex-direction: column;

    &.active {
        width: 260px;
    }

    &.active .sidebar-links h4 span {
        opacity: 1;
        transition: 200ms ease;
    }

    &.active .sidebar-links .menu-separaor {
        transform: scaleX(0);
        transition-delay: 0s;
    }

}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header .icon-menu {
    color: hwb(213 87% 8%);
    border-radius: 50%;
    font-size: 1.5em;
    margin-left: .6em;
    cursor: pointer;
    border-radius: .4em;

}

.sidebar-header h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: hwb(228 95% 4%);
    margin-left: 1.3em;
    white-space: nowrap;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 {
    font-size: 1.25em;
    color: hwb(228 95% 4%);
    font-size: 1em;
    font-weight: 500;
    white-space: nowrap;
    margin: 1em 0;
    position: relative;
}

.sidebar-links .menu-separaor {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background-color: hwb(238 20% 53%);
    transform-origin: right;
    transition-delay: 0.25s;
}

.sidebar-links h4 span {
    opacity: 0;
}

.sidebar-links li a i {
    color: hwb(240 25% 52%);
}

.sidebar-links li a {
    gap: 0 1em;
    display: flex;
    align-items: center;

    padding: .5em .7em;
    text-decoration: none;
    color: hwb(212 87% 8% / 0.658);
    transition: all 200ms ease;
    margin: 2px 0;

    &.selected {
        color: hwb(241 44% 17%);
        border-radius: .3em;
        background-color: hwb(0 100% 0% / 0.176);
    }

    &.selected i {
        color: hwb(241 44% 17%);
    }

    &:hover {
        color: hwb(228 95% 4%);
        border-radius: .3em;
        background-color: hwb(0 100% 0% / 0.176);

    }

    &:hover i {
        color: hwb(241 44% 17%);
        transition: 200ms ease;
    }
}

.user-account {
    margin-top: auto;
    padding: .5em .6em;
    margin-left: -.6em;

}

.user-account .user-profile {
    color: hwb(228 95% 4%);
    align-items: center;
    display: flex;
    gap: 0 1em;
}

.user-profile img {
    min-width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
}

.user-details {
    margin-left: 1em;
    white-space: nowrap;
}

.user-profile h3 {
    font-size: 1em;
    font-weight: 500;
}

.user-profile span {
    font-size: 0.775em;
    display: block;
    margin-top: 0;
}